.button {
  background-color: var(--neutral-dark-gray-blue);
  border-radius: 2rem;
  color: var(--neutral-white);
  text-decoration: none;
  font-weight: 700;
  display: block;
  margin: 1.5rem auto 0 auto;
  width: calc(100% - 4rem);
  text-align: center;
  padding: 1rem 0;
  font-size: 1.1rem;
}